body {
    display: block;
    margin: 8px;
}
body {
    margin: 0;
    padding: 0;
}
body {
    -webkit-font-smoothing: antialiased;
}
body {
    color: #000;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    font-size: 14px;
    font-weight: 500;
}
header {
    display: block;
}
.Header {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}
.Header {
    width: 100%;
    position: absolute;
}
.HeaderContainer {
    display: flex;
    justify-content: space-between;
    margin: 0 36px 0 36px;
    max-width: 100%;
    position: relative;
}
a {
    color: #000;
    text-decoration: none;
}
@media screen and (min-width: 768px) {
.HeaderLogo {
    transition: opacity 0.2s;
}
}
.HeaderLogo:hover {
    opacity: 0.8;
}
.HeaderLogo_image--pc {
    display: block;
    height: 20px;
    width: auto;
}
nav {
    display: block;
}
.HeaderContainer>*:last-child {
    display: inline-flex;
}
.main {
    display: block;
}






@media screen and (max-width: 1080px) {
.HeaderNavHamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
}
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger_line:first-child {
    top: 0;
}
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger_line {
    position: absolute;
    top: 50%;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transform: translate(0, -50%);
    border-radius: 10px;
    transition: top 0.2s, transform 0.2s, opacity 0.3s
    }
}
@media screen and (max-width: 1080px) {
.HeaderNavHamburger_line:last-child {
    top: 100%;
}
}
@media screen and (max-width: 1080px) {
.HeaderNavList {
    overflow-y: scroll;
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform 0.5s;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    height: 100%;
}
}
.HeaderNavList {
    align-items: center;
    display: flex;
}
.HeaderNavListItem_button:hover {
    opacity: 0.8;
}
.HeaderNavListItem_button {
    transition: opacity 0.2s;
    align-items: center;
    background-color: #F79214;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    font-size: 12px;
    height: 40px;
    padding: 0 20px;
    
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
@media screen and (min-width: 768px) {
.HeaderNavListItem {
    transition: opacity 0.2s;
}
}
.HeaderNavListItem {
    margin-right: 45px;
}
li {
    margin: 0;
    padding: 0;
    display: list-item;
    text-align: -webkit-match-parent;
}
.HeaderNavListItem:last-of-type {
    margin-right: 0;
}
.HeaderNavListItem_link {
    display: block;
}
.HeaderNavListItem_link span {
    display: block;
    font-weight: 700;
    text-align: center;
}
.HeaderNavListItem_link span:first-child {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
}
.HeaderNavListItem_link span:last-child {
    font-size: 10px;
}
ner {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
section {
    display: block;
}
.FirstView {
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 28px;
}
@media screen and (max-width: 767px) {
.FirstView {
    background-image: none;
    padding-top: 0;
    padding-bottom: 35px;
}
}
img {
    border: 0;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.FirstView__main-image {
  width: 100%;
}
.FirstView__main-image--sp {
    display: none;
}
@media screen and (max-width: 767px) {
.FirstView__main-image--sp {
    display: block;
}
}
.FirstView_container {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
@media screen and (max-width: 767px) {
.FirstView_container {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
}
@media screen and (max-width: 767px) {
.FirstView_container {
    margin-top: -45vw;
}
}
.FirstViewContent {
    margin-bottom: 70px;
    width: fit-content;
}
@media screen and (max-width: 767px) {
.FirstViewContent {
    margin-bottom: 20px;
    width: 100%;
}
}
.FirstViewContent_title {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 38px;
    font-weight: 700;
    line-height: 54px;
    margin-bottom: 15px;
    text-align: center;
}
@media screen and (max-width: 767px) {
.FirstViewContent_title {
    font-size: 25px;
    line-height: 36px;
    margin-left: calc(((100vw - 100%) / 2) * -1);
    margin-right: calc(((100vw - 100%) / 2) * -1);
}
}
.FirstViewContent_images {
    margin-bottom: 25px;
}
@media screen and (max-width: 767px) {
.FirstViewContent_images {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    width: 100%;
}
}
.FirstViewContent_images img {
    margin-right: 8px;
}
@media screen and (max-width: 767px) {
.FirstViewContent_images img {
    width: 27.5%;
}
}
.FirstViewContent_images img {
    margin-right: 8px;
}
@media screen and (max-width: 767px) {
.FirstViewContent_images img {
    width: 27.5%;
}
}
.FirstViewContent_images img:nth-of-type(2) {
    width: 40%;
}
@media screen and (max-width: 767px) {
.FirstViewContent_images img {
    width: 27.5%;
}
}
.FirstViewContent_images img:last-of-type {
    margin-right: 0;
}
.FirstViewContent_buttons {
    display: flex;
}
@media screen and (max-width: 767px) {
.FirstViewContent_buttons {
    flex-direction: column;
}
}
.FirstViewContent_buttons a:hover {
    opacity: 0.8;
}
.FirstViewContent_buttons a:last-of-type {
    background-color: #fff;
    border: 1px solid #E0E0E0;
    color: #000;
    width: 176px;
}
@media screen and (max-width: 767px) {
.FirstViewContent_buttons a:last-of-type {
    display: none;
}
}
.FirstViewContent_buttons a {
    align-items: center;
    background-color: #F79214;
    border: none;
    border-radius: 38px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 100%;
    height: 64px;
}
@media screen and (max-width: 767px) {
.FirstViewContent_buttons a {
    font-size: 14px;
    width: 100% !important;
}
}
.FirstViewContent_buttons a:first-of-type {
    margin-right: 15px;
    width: 306px;
}
@media screen and (max-width: 767px) {
.FirstViewContent_buttons a:first-of-type {
    margin-right: 0;
}
}
.FirstViewCaption {
    color: #A2A2A4;
    font-size: 12px;
}
.FirstViewCaption a {
    color: #A2A2A4;
}
p {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
@media screen and (max-width: 767px) {
.AboutWrapper {
    padding: 30px 0;
}
}
.AboutWrapper {
    background-color: #F79214;
    padding: 45px 0;
}
div {
    margin: 0;
    display: block;
}
.About {
    max-width: 1140px;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 767px) {
.About {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
}
}
@media screen and (max-width: 1024px) {
.About {
    flex-direction: column;
}
}
.About_title {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    width: 100%;
    align-items: flex-start;
    margin-bottom: 0;
    width: 53%;
}
@media screen and (max-width: 767px) {
.About_title {
    margin-bottom: 40px;
}
}
@media screen and (max-width: 1024px) {
.About_title {
    margin-bottom: 0;
    width: 100%;
}
}
div {
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
    padding: 0;
}
h2 {
    display: block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 1.5em;
    font-weight: bold;
}
.About_title h2 {
    font-size: 46px;
    font-weight: 700;
    line-height: 74px;
}
@media screen and (max-width: 767px) {
.About_title h2 {
    font-size: 30px !important;
    line-height: 1.2;
    text-align: center;
}
}
.About_title h2 {
    color: #fff;
    text-align: left;
}
.About_title h2 { 
   font-size: 40px; 
   letter-spacing: 1px;
   width: 100%;
}
@media screen and (max-width: 767px) {
.About_title h2 {
    font-size: 30px !important;
    text-align: center;
}
}
.About_title h2 span {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 900;
}
@media screen and (max-width: 767px) {
.About_title h2 span {
    font-size: 30px;
    letter-spacing: 1px;
}
}
.About_title h2>span {
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}
@media screen and (max-width: 767px) {
.About_title h2>span {
    font-size: 33px;
}
}
.About_title br {
    display: none;
}
@media screen and (max-width: 767px) {
.About_title br {
    display: block;
}
}
.About_title p {
    display: inline-block;
    font-size: 19px;
    font-weight: 700;
    line-height: 28px;
    margin-top: 10px;
    text-align: center;
}
@media screen and (max-width: 767px) {
.About_title p {
    font-size: 16px;
    line-height: 21px;
}
}
.About_title p {
    color: #fff;
    text-align: left;
}
.About_title p {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-top: 15px;
}
@media screen and (max-width: 1024px) {
.About_button {
    margin-top: 40px
}
}
.About_button {
    width: 250px;
}
p {
    margin: 0;
    padding: 0;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.About_button a:hover {
    opacity: 0.8;
}
.About_button a {
    align-items: center;
    border-radius: 38px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    color: #F79214;
    background-color: #fff;
}